# ================== HF Hub Token (enable faster downloads) ======================
HF_TOKEN=...

# ================== HF Datasets Cache ======================
HF_DATASETS_CACHE="./data/"
HF_TRAIN_DATASETS_CACHE="./data/train_data/"
HF_BENCHMARKS_DATASETS_CACHE="./data/benchmarks/"